<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Page</title>
</head>
<body>
    <div class="text_center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nihil vitae voluptatibus, quia quos amet iure modi architecto nisi pariatur maiores consectetur ipsa tenetur illo quo. Earum debitis illum omnis.</p>
    </div>
</body>
</html>